*{
    margin: 10px;
    padding: 5px;
}
.header{
    text-transform: uppercase;
    background-color: #9933cc;
    color: #fff;
    padding: 20px;
    text-align: center;
    letter-spacing: 20px;
    border-radius: 20px;
}
